# Question 17

In [1]:
import numpy as np
from datetime import datetime

In [2]:
from datetime import datetime

def difference_in_days(date1, date2):
    def conv_to_datetime(date):
        date_list = date.split('-')
        new_date = datetime.date(date_list[2], date_list[0], date_list[1])
        return new_date
    
    date1 = conv_to_datetime(date1)
    date2 = conv_to_datetime(date2)

    return date2 - date1

In [3]:
difference_in_days('01-12-2012', '04-21-2019')

TypeError: descriptor 'date' requires a 'datetime.datetime' object but received a 'str'

In [4]:
split_date = '01-12-2012'.split('-')
split_date

['01', '12', '2012']

In [5]:
datetime.date(2019, 2, 3)

TypeError: descriptor 'date' requires a 'datetime.datetime' object but received a 'int'

In [6]:
new_date = datetime.date(int(split_date[2]), int(split_date[0]), int(split_date[1]))
new_date

TypeError: descriptor 'date' requires a 'datetime.datetime' object but received a 'int'

In [7]:
date_str = '01-12-2012'
formatter_string = '%m-%d-%Y'
datetime_object = datetime.strptime(date_str, formatter_string)
date_object1 = datetime_object.date()
date_object1

datetime.date(2012, 1, 12)

In [8]:
date_str = '04-21-2019'
formatter_string = '%m-%d-%Y'
datetime_object = datetime.strptime(date_str, formatter_string)
date_object2 = datetime_object.date()
date_object2

datetime.date(2019, 4, 21)

In [9]:
(date_object2 - date_object1).days

2656

# Question 24

In [10]:
def not_bad(s):
    if 'not' in s and 'bad' in s:
        index_not = s.index('not')
        index_bad = s.index('bad')
        if index_not < index_bad:
            if 'bad' != s[-3:]:
                new_string = s[:index_not] + 'good' + s[-1:]
            else:
                new_string = s[:index_not] + 'good'
    else:
        new_string = s
        
    return new_string

In [11]:
s = 'this movie is not so bad'

In [12]:
index_not = s.index('not')
index_bad = s.index('bad')
s.replace(s[index_not:index_bad+3], 'good')

'this movie is good'

In [13]:
(5 // 2) + 1

3

# Question 25

In [14]:
def halves(string):
        """
        Find where the half of the input strings are based on the 
        length of the string.
        """
        if len(string) % 2 == 0:
            half = len(string) / 2
        else:
            half = (len(string) // 2) + 1
        
        return half

In [15]:
s1 = 'abcde'
s2 = 'xyz'

s1_half = halves(s1)
s2_half = halves(s2)

print(s1_half)
print(s2_half)

3
2

# Question 31

In [16]:
def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """
    with open(filename) as f:
        content = []
        lines = f.read().splitlines()
        for line in lines:
            split_line = line.split(',')
            content.append(split_line)

    return content

In [17]:
read_data('football.csv')

[['Team',
  'Games',
  'Wins',
  'Losses',
  'Draws',
  'Goals',
  'Goals Allowed',
  'Points'],
 ['Arsenal', '38', '26', '9', '3', '79', '36', '87'],
 ['Liverpool', '38', '24', '8', '6', '67', '30', '80'],
 ['Manchester United', '38', '24', '5', '9', '87', '45', '77'],
 ['Newcastle', '38', '21', '8', '9', '74', '52', '71'],
 ['Leeds', '38', '18', '12', '8', '53', '37', '66'],
 ['Chelsea', '38', '17', '13', '8', '66', '38', '64'],
 ['West_Ham', '38', '15', '8', '15', '48', '57', '53'],
 ['Aston_Villa', '38', '12', '14', '12', '46', '47', '50'],
 ['Tottenham', '38', '14', '8', '16', '49', '53', '50'],
 ['Blackburn', '38', '12', '10', '16', '55', '51', '46'],
 ['Southampton', '38', '12', '9', '17', '46', '54', '45'],
 ['Middlesbrough', '38', '12', '9', '17', '35', '47', '45'],
 ['Fulham', '38', '10', '14', '14', '36', '44', '44'],
 ['Charlton', '38', '10', '14', '14', '38', '49', '44'],
 ['Everton', '38', '11', '10', '17', '45', '57', '43'],
 ['Bolton', '38', '9', '13', '16', '44', '62', '40'],
 ['Sunderland', '38', '10', '10', '18', '29', '51', '40'],
 ['Ipswich', '38', '9', '9', '20', '41', '64', '36'],
 ['Derby', '38', '8', '6', '24', '33', '63', '30'],
 ['Leicester', '38', '5', '13', '20', '30', '64', '28']]

In [18]:
football_data = read_data('football.csv')

In [35]:
def get_index_with_min_abs_score_difference(goals):
    """Returns the index of the team with the smallest difference
    between 'for' and 'against' goals, in terms of absolute value.

    Arguments: parsed_data is a list of lists of cleaned strings
    Returns: integer row index
    """
    # Calculate point differential and add to each row
    for row in goals[1:]:
        point_diff = abs(int(row[5]) - int(row[6]))
        row.append(point_diff) 
    goals[0].append('Point Differential')

    # Create a separate list of point differentials
    point_diffs = []
    for row in goals:
        point_diffs.append(row[-1])

    # Find the index of the minimum value
    min_val = min(point_diffs[1:])
    min_index = point_diffs.index(min_val)
    
    return min_index

In [36]:
get_index_with_min_abs_score_difference(football_data)

8

In [37]:
def get_team(index_value, parsed_data):
    """Returns the team name at a given index.
    
    Arguments: index_value is an integer row index
               parsed_data is the output of `read_data` above
               
    Returns: the team name
    """
    team_name = parsed_data[index_value][0]
    return team_name

In [38]:
print(str(get_team(8, football_data)))

Aston_Villa